weights/ohhan.pth
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
logs/ohhan/events.out.tfevents.1691644393.ip-172-31-13-157.996667.0
logs/ohhan/events.out.tfevents.1691644672.ip-172-31-13-157.1022515.0
logs/ohhan/events.out.tfevents.1691645971.ip-172-31-13-157.1473005.0
logs/ohhan/events.out.tfevents.1691646083.ip-172-31-13-157.1497104.0
logs/ohhan/events.out.tfevents.1691647758.ip-172-31-13-157.1511051.0
logs/ohhan/events.out.tfevents.1691648509.ip-172-31-13-157.1612591.0
models/__pycache__/vgg.cpython-310.pyc
weights/ohhan_best.pht
weights/ohhan_best.pth
8_ddp_example.py
